* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  min-height: 100%;
  background-color: #f5f7f8;
  font-family: "Cormorant Upright", Arial, sans-serif;
  line-height: 1.6;
}

/* Navbar Styling */

.header{
  /* position:fixed; */
}
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #5ab2ff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav_logo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
  gap: 5px;
  color: #fff;
  cursor: pointer;
}

.nav_logo h1 span {
  color: black;
  font-size: 2rem;
}

.nav_number {
  color: #fff;
  background-color: #00a9ff;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.nav_number span {
  color: #000;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 20px;
}

/* Navbar Items */
.nav_menu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.bar {
  color: #000;
  font-weight: bolder;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}


.bar:hover{
  color: green;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* Hamburger Menu */

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  display: none;
  flex-direction: column;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #F5F5F5;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.4);
  list-style: none;
  padding: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 2s ease-out;
}

.hamburger_rem {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  gap:40vw;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}


.sidebar_item {
  margin: 1rem 0;
}


/* Main Content */
section {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.main_content {
  background: url("../assets/background.jpeg") no-repeat center center;
  height: 90vh;
  width: 100%; 
  inset:0;
  background-size:cover;
  background-position:cover;
  display: inline-flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  /* opacity: 0.8; */
  position: relative; 
  background-attachment: cover;
  outline: none;
}

.main_content::after {
  content: "";
  background: #5ab2ff81; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

/* Booking options */
.booking-options{
  z-index: 1;
  display: flex;
  max-width:100%;
  height:80vh;
  flex-direction: column;
  position: absolute;
  top:50%; 
  left:50%;
  transform:translate(-50%,-50%);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.trip_category{
  display: flex;
  margin-bottom:1rem;
  max-width: 80%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  
}

.trip_category a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.trip_category-item{
  margin-right:20px;
  font-size: 1.4rem;
  padding:3px;
}

.trip_category-item:hover{
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.4);
  border:2px solid rgb(0, 0, 0);
  border-radius: 20px;
}

/* booking-details */

.booking {
  background-color: #5ab2ff;
  border-radius: 20px;
  /* opacity: 0.8; */
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px auto; 
}

.booking-details {
  z-index: 1;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap;
  padding: 15px;
  gap: 8px; 
  border-radius: 20px;
  position: relative;
  background-color: rgb(30, 128, 0);
}

.booking-details_container {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  width: calc(50% - 10px); 
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.booking-details_container input,
.booking-details_container select {
  font-size: 16px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #f5f5f5;
}

.fare-bucket-select {
  outline: none;
  border: none;
  width: 80%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  width: 80vw;
  gap: 10px;
  text-align: center;
}

.search label {
  background-color: #00a9ff;
  padding: 5px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  border-radius: 5px;
}

.search_button {
  background-color: darkorange;
  padding: 10px;
  width: calc(40% - 10px);
  border-radius: 6px;
  margin-right:1.5rem;
  font-size: medium;
  cursor: pointer;
  font-weight: bold;
}

/* Blog Section */

/* Blog Section Styling */
.blog-section {
  min-width: 80vw;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Blog Container Styling */
.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* Blog Card Styling */
.blog-card {
  width: 350px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.blog-card:hover {
  transform: translateY(-10px);
}

/* Blog Image Styling */
.blog-image {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-date {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #002d72;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.date-day {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.date-month {
  font-size: 0.8rem;
}

/* Blog Content Styling */
.blog-content {
  padding: 20px;
}

.blog-title {
  font-size: 1.2rem;
  color: #333;
  width: content;
  margin-bottom: 10px;
}

.blog-description {
  color: #555;
  font-size: 0.9rem;
  line-height: 1.6;
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.8em; 
}

/* Read More Button Styling */
.read-more-btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 0.9rem;
  background-color: #002d72;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.read-more-btn:hover {
  background-color: #0048a5;
}

.line{
  width:100%;
  height:20px;
  border: 2px dashed #00a9ff;
  background-color:#00a9ff;
  opacity: 0.8;
  border-radius: 5px;
}

/* Booking Feature */

.booking_feature{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin:40px;
}

.flexibal{
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:max-content;
  padding:20px;
}

.flexibal img{
  width:4rem;
  margin-right: 10px;
}
.flexibal h3{
  margin:1px;
  cursor:pointer;
  /* display: inline; */
}

.flexibal h3:hover{
  transform: translateY(5px);
  color:#00a9ff;
}
.flexibal p{
  width:10rem;
  margin:1px;
}


/* Responsive Design */
@media screen and (max-width: 950px) {
  .nav_menu {
    display: none;
  }
  .nav_number span {
    display: none;
  }
  .hamburger {
    display: flex;
  }

  
}

@media screen and (max-width: 650px) {
  .nav_number {
    font-size: 1rem;
  }

  .trip_category{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width:min-content;
    margin:.4rem 3rem;
  }

  .trip_category-item{
    padding-right:10px;
    font-size: .8rem;
    text-align: center;
  }


  /* booking */
  .booking-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .booking-details_container {
    width: 100%; 
    margin-bottom: 8px; 
  }

  
  .search {
    width: 90vw; 
  }

  .search_button {
    width: 80%; 
    margin-top: 10px; 
  }

  /* Blog Section */
  .blog-container {
    flex-direction: column; 
    align-items: center;
}

.blog-card {
    width: 100%; 
    margin-bottom: 20px;
}

.blog-content {
    padding: 15px;
}

.blog-description {
    max-height: 3.6em; 
    -webkit-line-clamp: 2; 
}

/* Booking Feature */

.booking_feature{
  flex-direction: column;
  flex-wrap: wrap;
  margin:20px;
}
.flexibal p{
  width:12rem;
  margin:1px;
  font-size: 1rem;
}


}

@media screen and (max-width: 400px){
  .main_content{
    height: 100vh;
  }
}

