.booking_feature{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:40px;
}

.flexibal{
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:max-content;
    padding:20px;
}

.flexibal img{
    width:4rem;
    margin-right: 10px;
}
.flexibal h3{
    margin:1px;
    /* display: inline; */
}
.flexibal p{
    width:10rem;
    margin:1px;
}



@media screen and (max-width:650px){
    .booking_feature{
        flex-direction: column;
        flex-wrap: wrap;
        margin:20px;
    }
    .flexibal p{
        width:12rem;
        margin:1px;
        font-size: 1rem;
    }
}